.Iam {
  color: white;
  font-size: 4rem;
  margin-top: 200px;
}

.name {
  color: gray;
  position: absolute;
  top: 500px;
  margin-left: 13px;
  cursor: pointer;
}

.large {
  height: 150px;
  border-radius: 0.2rem;
  position: absolute;
  top: 300px;
}

.All_things {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.All_Profiles {
  display: flex;
  gap: 200px;
}

.larger1 {
  border: 5px solid white;
  border-color: white;
  cursor: pointer;
  border-radius: 0.2rem;
}

.name1 {
  color: white;
  cursor: pointer;
}

.plus {
  font-size: 100px !important;
  height: 100px !important;
  color: white; 
  cursor: pointer;
}

.myProfile {
  position: absolute;
  top: 350px;
  left: 796px;
  color: white;
  transform: translate(-50%, -50%);
  background-color: #141414;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.makeitLarge {
  height: 100px;
}

.input_Profile {
  color: white;
  background-color: gray;
  border: none;
}

.response {
  border: none;
  cursor: pointer;
}

.profile_image {
  display: flex;
  align-items: center;
  gap: 10px;
}

.continue_cancel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.small {
  font-size: 30px;
}

.add_profile {
  color: white;
}

.all_things{
  display: flex;
  gap: 10px;
}

.color_vb{
  color: white;
}

.name_profile_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.delete_Edit {
  display: flex;
  gap: 10px;
}

.delete_profile {
  cursor: pointer;
}

.Edit_profile {
  cursor: pointer;
}

.input_Profile_save {
  color: white;
  background-color: gray;
  border: none;
  width: 96px;
}