.slider-container {
    margin-top: -1rem;
  }
  
  .slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .slider {
    overflow: hidden;
    width: 100%;
  }
  
  .slider-track {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slider-item {
    min-width: 20%; /* 5 slides to show */
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
  }
  
  .slider-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .slider-item img:hover {
    transform: scale(1.1);
  }
  
  
  .slider-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .slider-button.disabled {
    opacity: 0;
  }
  
  .slider-button.left {
    left: 0;
  }
  
  .slider-button.right {
    right: 0;
  }

  .add {
    position: absolute;
    z-index:3;
    right: 20px;
    top: 119px;
    background-color: #282828;
    color: #FFFFFF;
    border-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    opacity: 50%;
  }

.add:hover {
  border: 1px solid white;
  cursor: pointer;
  background-color: #303030;
  opacity: 100%;
}
